html, body {
    height: 100%;
}

body {
    margin: 0;
}

#main{
    flex-direction: column;
    background-color: #5200a3;
    height: 100%;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-admin{

    justify-content: center;
    align-items: center;
    display: flex;

    color: #5200a3;
    background-color: green;
    width: 30%;
    height: 30%;
}


#login-staff-container{
    align-items: center;
    display: flex;
    color: #5200a3;
    background-color: green;
    justify-content: center;
    width: 20%;
    height: 10%;
}

#list-students{
    display: none;
    align-items: center;
    color: #5200a3;
    background-color: green;
    justify-content: center;
    width: 20%;
    height: 10%;
}

#list-staffs{
    margin-bottom: 10%;
    display: none;
    align-items: center;
    color: #5200a3;
    background-color: green;
    justify-content: center;
    width: 20%;
    height: 10%;
}

.main-for-lists{
    background-color: #5200a3;
    height: 100%;
    width: 1440px;
    display: none;

    flex-direction: column;


}

#buttons-student{
    width: 100%;
    height: 10%;
    display: none;

    justify-content: center;

    align-items: center;
}

#add-student{
    margin-right: 10%;
    justify-content: center;
    color: #5200a3;
    width: 100px;
    background-color: green;
    display: none;
}

#update-student{
    justify-content: center;
    color: #5200a3;
    width: 100px;
    background-color: green;
    display: none;
}

#delete-student{
    margin-left: 10%;
    justify-content: center;
    color: #5200a3;
    width: 100px;
    background-color: green;
    display: none;
}

ul li {
    background: #20B81D;
    margin: 5px;
    color: #5200a3;
}

.container-for-list-order{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.list-order{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 50%;
    background-color: green;
}


.main-for-form{
    background-color: #5200a3;
    height: 100%;
    width: 1440px;
    display: none;
    align-items: center;
    justify-content: center;
}

.container-for-form{
    width: 50%;
    background-color: green;
    height: 80%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    display: flex;
}

label{
    color: #5200a3;
}

p{
    color: #5200a3;
}

input{
    color: #5200a3;
}

.distance-submit{
    margin-top: 19px;
}

option{
    color: #5200a3;
}

select{
    color: #5200a3;
}

.error{
    margin-top: 19px;
    color: #5200a3;
    display: none;
}

hr{
    height: 2px;
    background-color: #20B81D;
    border-width:0;
    color: #20B81D;
}

.note-for-add-button{
    color: #5200a3;
    size: 21px;
}


/*here starts staff */
.main-for-list-staff{
    background-color: #5200a3;
    height: 100%;
    width: 1440px;
    display: none;
    flex-direction: column;
}

#buttons-staff{
    width: 100%;
    height: 10%;
    display: none;
    justify-content: center;
    align-items: center;
}

#add-staff{
    margin-right: 10%;
    justify-content: center;
    color: #5200a3;
    width: 100px;
    background-color: green;
    display: none;
}

#update-staff{
    justify-content: center;
    color: #5200a3;
    width: 100px;
    background-color: green;
    display: none;
}

#delete-staff{
    margin-left: 10%;
    justify-content: center;
    color: #5200a3;
    width: 100px;
    background-color: green;
    display: none;
}

.container-for-list-order-staff{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.list-order-staff{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 50%;
    background-color: green;
}

.main-for-form-staff{
    background-color: #5200a3;
    height: 100%;
    width: 1440px;
    display: none;
    align-items: center;
    justify-content: center;
}

.container-for-form-staff{
    width: 50%;
    background-color: green;
    height: 80%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    display: flex;
}


.error-staff{
    margin-top: 19px;
    color: #5200a3;
    display: none;
}

/*#buttons-staffs{
    width: 100%;
    height: 10%;
    display: none;

    justify-content: center;

    align-items: center;
}

.main-for-list-staff{
    background-color: #5200a3;
    height: 100%;
    width: 1440px;
    display: none;
    flex-direction: column;
}

#add-staff{
    margin-right: 10%;
    justify-content: center;
    color: #5200a3;
    width: 100px;
    background-color: green;
    display: none;
}

#update-staff{
    justify-content: center;
    color: #5200a3;
    width: 100px;
    background-color: green;
    display: none;
}

#delete-staff{
    margin-left: 10%;
    justify-content: center;
    color: #5200a3;
    width: 100px;
    background-color: green;
    display: none;
}

.container-for-list-order-staff{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.list-order-staff{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 50%;
    background-color: green;
}

.main-for-form-staff{
    background-color: #5200a3;
    height: 100%;
    width: 1440px;
    display: none;
    align-items: center;
    justify-content: center;
}


.container-for-form-staff{
    width: 50%;
    background-color: green;
    height: 80%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    display: flex;
}






